.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.problem-section, .editor-section {
  flex-basis: 50%;
}

.buttons button {
  margin: 10px;
  padding: 10px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Ensure the content starts from the top */
.CodeMirror {
  text-align: left;
  padding-top: 0; /* Reset any top padding */
}

.cm-content {
  text-align: left !important;
}